@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count> 0)
 {
   <li class="nav-item">
       <a class="nav-link glyphicon" asp-controller="CarrinhoCompra">
           <span class="glyphicon glyphicon-shopping-cart"></span>
           <span id="cart-status">
               @Model.CarrinhoCompra.CarrinhoCompraItens.Count
           </span>
       </a>
   </li>
 }